/* ======= Reset ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; /* Removes the grey highlight on clickable elements on iOS */
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  }

/* ======= Fonts ======= */

@font-face {
    font-family: 'lato';
    src: url(public/fonts/Lato-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'lato';
    src: url(public/fonts/Lato-Light.ttf) format('truetype');
    font-weight: 300;
}

/* ======= Fonts Use ======= */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222222;
}

h1, h2, h3, p, li {
    font-family: lato;
    color: #222222;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

@media (min-width: 960px) {
    h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 0px;
    }
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
    margin-bottom: 8px;
}

@media (min-width: 960px) {
    h2 {
        font-size: 18px;
        line-height: 28px;
    }
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

@media (min-width: 960px) {
    p {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.7px;
    }
}

/* ======= Container ======= */
.container {
    display: grid;
    grid-template-columns: minmax(24px,1fr) minmax(0px,1216px) minmax(24px,1fr);
}

/* ======= Header ======= */
.header {
    /* Layout */
    grid-column: 2;

    /* Inner layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px; 
    gap: 16px;  
    margin-top: 24px;
}     
    
@media (min-width: 370px) {
    .header {
        grid-template-columns: 40px 1fr;
        grid-template-rows: 40px;
    }
}

@media (min-width: 1280px) {
    .header {
        margin-top: 32px;
    }
}

.logo {
    display: grid;
    background-color: #222222;
    width: 40px;
    justify-content: center;
    align-self: center;
}

.logo-content {
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 370px) {
    .nav {
        justify-content: end;
        gap: 24px;
    }
}

@media (min-width: 480px) {
    .nav {
        gap: 32px;
    }
}

.nav-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.nav-title a:hover{
    color: #4d4d4d;
}

/* ======= About ======= */
.main {
    /* Layout */
    grid-column: 2;

    /* Inner layout */
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}

@media (min-width: 656px) {
    .caption {
        width: 608px;
        justify-self: center; 
    }
}

.image {
    /* Inner layout */
    margin-top: 64px;
    margin-bottom: 64px;
    justify-self: center;
}

@media (min-width: 480px) {
    .image {
        margin-top: 96px;
    }
}

.image-content {
    width: 224px; 
    height: 224px;
    border-radius: 400px;
    object-fit: contain;
}

@media (min-width: 480px) {
    .image-content {
        width: 320px;
        height: 320px; 
    }
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 64px;
}

@media (min-width: 656px) {
    .skills {
        width: 608px;
        justify-self: center; 
    }
}

.subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

/* ======= Footer ======= */
.footer {
    /* Layout */
    grid-column: 2;
    margin-top: 64px;
    margin-bottom: 32px;

    /* Appearence */
    border-top: 1px solid #E0E0E0;
    padding-top: 32px;
    
    /* Inner layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px;
    gap: 16px;
}

@media (min-width: 640px) {
    .footer {
        /* Layout */
        margin-top: 96px;

        /* Inner layout */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        padding-top: 32px;
    }
}

.footer-rigths {
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.5px;
    align-items: center;
}

.footer-nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 32px;
    align-items: center;
}


@media (min-width: 640px) {
    .footer-nav {
        justify-content: end;
    }
}