/* ======= Reset ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; /* Removes the grey highlight on clickable elements on iOS */
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  }

/* ======= Fonts ======= */
@font-face {
    font-family: 'open-sans';
    src: url(public/fonts/OpenSans-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'open-sans';
    src: url(public/fonts/OpenSans-Bold.ttf) format('truetype');
    font-weight: bold;
}

/* ======= Fonts Use ======= */
a {
    text-decoration: none;
    color: #263238;
}

ul {
    list-style: none;
}

h1, p, li {
    color: #263238;
    font-family: open-sans;
    font-weight: 300;
}

/* ======= Container =======*/
.container {
    display: grid;
    grid-template-columns: minmax(24px,1fr) minmax(0px,1032px) minmax(24px,1fr);
}

/* ======= Header ======= */
.header {
    /* Layout */
    grid-column: 2;

    /* Inner layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 40px;
    margin-top: 32px;
}

@media (min-width: 600px) {
    .header {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        margin-top: 48px;
        margin-bottom: 8px;
        gap: 16px;
    }
}

.logo {
    display: grid;
    justify-content: start;
}

.logo h1{
    font-family: open-sans;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
}

.logo strong {
    font-family: open-sans;
    font-weight: bold;
    font-size: 32px;
    color: #2979FF;
}

.nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 380px) {
    .nav {
        justify-content: start;
        grid-gap: 16px;
    }
}

@media (min-width: 600px) {
    .nav {
        justify-content: end;
        grid-gap: 16px;
    }
}

.nav-title {
    font-family: open-sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #263238;
    position: relative;
    top: 3px;
}

.nav-title a:hover{
    color: #2979FF;
}

.border {
    width: 1px;
    height: 18px;
    background-color: #dde4e7;
    position: relative;
    top: 3px;
}

/* ======= Cover Image ======= */
.cover-image {
    /* Layout */
    grid-column-start: 1;
    grid-column-end: end;
    margin-top: 24px;
}

.project-image {
    padding-top: 100%;
    position: relative;
}

@media (min-width: 380px) {
    .project-image {
        padding-top: 80%;
    }
}

@media (min-width: 520px) {
    .project-image {
        padding-top: 60%;
    }
}

@media (min-width: 720px) {
    .project-image {
        padding-top: 42%;
    }
}

.project-image-content {
    /* Layout */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    /* Appearence */
    object-fit: cover;
}

/* ======= Wrapper ======= */
.wrapper {
    /* Layout */
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 64px;
}

/* ======= Title & text ======= */
.project-title {
    font-family: open-sans;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
}

.title {
    font-family: open-sans;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 24px;
}

.title-alt {
    font-family: open-sans;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 8px;
}

.subtitle {
    font-family: open-sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2979FF;
    margin-bottom: 16px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    margin-bottom: 24px;
}

@media (min-width: 520px) {
    .text {
        width: 60%;
    }
}

/* ======= Project-definition ======= */
.project-definition {
    margin-top: 48px;
}

/* ======= Mobile ======= */
.mobile {
    /* Layout */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

@media (min-width: 520px) {
    .mobile {
        gap: 48px;
    }
}

.mobile-image {
    padding-top: 177.9%;
    position: relative;
}

/* ======= Content ======= */
.content {
    display: grid;
    grid-template-columns: 1fr;
}

/* ======= Image ======= */
.image {
    padding-top: 62.49%;
    position: relative;
}

.image-large {
    padding-top: 126.5%;
    position: relative;
}

.image-content {
    /* Layout */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    /* Appearence */
    object-fit: cover;
}

.shadow {
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
}

/* ======= Colors & Typos ======= */
.palette {
    display: grid;
    grid-template-columns: 80px 80px;
    column-gap: 16px;
    row-gap: 24px;
}

@media (min-width: 600px) {
    .palette {
        grid-template-columns: 80px 80px 1fr;
        gap: 24px;
    }
}

.color {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    margin-bottom: 8px;
}

.one {
    background-color: #010101;
}

.two {
    background-color: #F7F9F9;
}

.typo {
    grid-column-start: 1;
    grid-column-end: 4;
}

@media (min-width: 600px) {
    .typo {
    grid-column: 3;
    }
}

.hexa {
    font-family: open-sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

/* ======= Footer ======= */
.footer {
    /* Layout */
    grid-column: 2;
    margin-top: 96px;
    margin-bottom: 128px;

    /* Appearence */
    border-top: 1px solid #dde4e7;
    
    /* Inner layout */
    display: grid;
    grid-row-gap: 24px;
    grid-column-gap: 40px;
    padding-top: 48px;
}

@media (min-width: 758px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1008px) {
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
}

.footer_title {
    font-family: open-sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2979FF;
    margin-bottom: 16px;
}

.footer li {
    font-family: open-sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}